<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<h1><b>MOVIE RECOMMENDATION SYSTEM</b></h1>
	<div class="mid">
	<form action="{{url_for('predict')}}",method="post" id="inp">
	     <label class="name">MOVIE NAME:</label><input type="text" name='movie'><br>
		<button type="submit" class='btn'>RECOMMEND</button>
	</form>
</div>
</body>
</html>